[submodule "client-ios/Libraries/cedar"]
	path = client-ios/Libraries/cedar
	url = git://github.com/pivotal/cedar.git
[submodule "client-ios/Libraries/MBProgressHUD"]
	path = client-ios/Libraries/MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
