!!!
%html
  %head
    %title MyTee
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %nav.primary
      %a.navItem{:href => "bla"}
        %img.navIcon{:src => "/assets/icons/white/tshirt.png"}
        %span.navTitle T-Shirts
        
    = yield

